@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");


.registeraton_body {
  display: grid;
  height: 100vh;
  width: 100%;
  place-items: center;
  background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
  font-family: "Poppins", sans-serif;
}
::selection {
  background: #ff80bf;
}
.registeraton_container {
  background: #fff;
  max-width: 450px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}
.registeraton_container form .title {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  position: relative;
}
.registeraton_container form .title:before {
  content: "";
  position: absolute;
  height: 4px;
  width: 33px;
  left: 0px;
  bottom: 3px;
  border-radius: 5px;
  background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
}
.registeraton_container form .input-box {
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}
.registeraton_container form .input-box input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 16px;
  border: none;
}
.registeraton_container form .underline::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ccc;
  left: 0;
  bottom: 0;
}
.registeraton_container form .underline::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.registeraton_container form .input-box input:focus ~ .underline::after,
.registeraton_container form .input-box input:valid ~ .underline::after {
  transform: scaleX(1);
  transform-origin: left;
}
.registeraton_container form .button {
  margin: 40px 0 20px 0;
}
.registeraton_container .input-box button {
  background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: inherit;
}
.registeraton_container .input-box button:hover {
  letter-spacing: 1px;
  background: linear-gradient(to left, #99004d 0%, #ff0080 100%);
}

.registeraton_container .form-check-input:checked[type=checkbox] {
  background-color: green;
}
.text-green {
  color: green;
}

.text-red {
  color: red;
}

.registeraton_container .have_ac a{
  color: #c7367f;
}